﻿@{
    ViewData["Title"] = "Register";
}


<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.css" />
<link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">


@section Scripts{
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>
    <script src="~/Scripts/FireBase.js"></script>
    <script src="~/Scripts/Register.js"></script>
}

    <style>
        body {
            font-family: Arial;
        }

        .wrap-input100t {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            width: 100%;
            height: 80px;
            position: relative;
            border: 1px solid #e6e6e6;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .validate-inputt {
            position: relative;
        }

        .label-input100t {
            font-family: Montserrat-Regular;
            font-size: 18px;
            color: #999999;
            line-height: 1.2;
            display: block;
            position: absolute;
            pointer-events: none;
            width: 100%;
            padding-left: 24px;
            left: 0;
            top: 30px;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

            /* Style the buttons inside the tab */
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
            }

        .input100t {
            display: block;
            width: 100%;
            background: transparent;
            font-family: Montserrat-Regular;
            font-size: 18px;
            color: #555555;
            line-height: 1.2;
            padding: 0 26px;
        }

        .login100-form-btnt {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            width: 100%;
            height: 50px;
            border-radius: 10px;
            background: #6675df;
            font-family: Montserrat-Bold;
            font-size: 12px;
            color: #fff;
            line-height: 1.2;
            text-transform: uppercase;
            letter-spacing: 1px;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }

            .login100-form-btnt:hover {
                background: #333333;
            }
        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }
    </style>


@*<div id="firebaseui-auth-container"></div>*@

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form validate-form" style="padding-top:100px;padding-bottom: 15px;">
                <span class="login100-form-title p-b-43" style="color:#f5591f;font-family:cursive;">
                    <strong>
                        ÜYE OL
                    </strong>

                </span>

                <div class="wrap-input100 validate-input" id="divEmail" style="border-radius:50px;">
                    <input class="input100t" type="text" style=" width: 396px;margin-left: 26px;border-radius: 26px;" name="email" id="EMail">
                    <span class="focus-input100"></span>
                    <span class="label-input100"style="font-family:cursive;">Email</span>
                </div>

                <div class="wrap-input100t validate-input" style="border-radius:50px;" data-validate="Valid name-surname is required: " id="divName">
                    <input class="input100t" type="text" style=" width: 396px;margin-left: 26px;border-radius: 26px;" name="Name" id="Name">
                    <span class="focus-input100"></span>
                    <span class="label-input100"style="font-family:cursive;">Ad - Soyad</span>
                </div>

                <div class="wrap-input100t validate-input" style="border-radius:50px;" data-validate="Valid username is required:" id="divUserName">
                    <input class="input100t"style=" width: 396px;margin-left: 26px;border-radius: 26px;" type="text" name="userName" id="userName">
                    <span class="focus-input100"></span>
                    <span class="label-input100"style="font-family:cursive;">Kullanıcı Adı</span>


                </div>
                <div class="wrap-input100t validate-input" style="border-radius:50px;" data-validate="Password is required" id="divPass">
                    <input class="input100t"style=" width: 396px;margin-left: 26px;border-radius: 26px;" type="password" name="pass" id="Password">
                    <span class="focus-input100"></span>
                    <span class="label-input100"style="font-family:cursive;">Şifre</span>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 container-login100-form-btn">
                            <button class="login100-form-btn" style="font-family:cursive;border-radius:50px;background: #f5591f;" onclick="register()">
                                Üye Ol
                            </button>
                        </div>
                        <div class="col-md-6 container-login100-form-btn">
                            <a href="~/Account/Login" class="login100-form-btn" style="font-family:cursive;border-radius:50px;color:white;background: #f5591f;">
                                Üye Girişi
                            </a>
                        </div>
                    </div>
                </div>




            </div>
            <div class="login100-more" style="background-image: url('../images/bg-01.jpg');">

            </div>
        </div>

    </div>
</div>




 