﻿@model  Bitirme.Entity.Model.Post

@{
    ViewData["Title"] = "Default";
}

<div id="post2" class="mfp-wrap mfp-gallery mfp-close-btn-in mfp-auto-cursor mfp-with-zoom mfp-ready" tabindex="-1" style="overflow: hidden auto;">
  <div class="mfp-container mfp-s-ready">

        <div class="mfp-content">

            <div class="mfp-figure" style="visibility: visible; background-color:white;
                                            padding:5px;background-color: #e8e8e8fa;border-radius:10px;">

                <button title="Close (Esc)" type="button" onclick="close_post()" style="color:black;right: 0px!important;" class="mfp-close">×</button>
                <figure>

                    <img class="mfp-img" src="' + data.photo_url+'" style="max-height: 318px;">
                    <figcaption>

                        <div class="mfp-bottom-bar" style="background-color:white;background-color: #e8e8e8fa;">


                            <div class="mfp-title" style="color:black;">

                                <div class="col-md-2">
                                    <a onclick="arti(' data.user_id')">

                                        <i class="far fa-smile-beam" style="font-size:30px!important"></i>
                                    </a>
                                    <p>' + data.iyi + '</p>                                                                     

                                </div>
                                <div class="col-md-2">

                                    <i class="far fa-meh" style="font-size:30px!important"></i>
                                    <p>'+data.kotu+'</p>                                                                     

                                </div>
                                <div class="col-md-2">

                                    <i class="far fa-frown" style="font-size:30px!important"></i>
                                    <p>123</p>

                                </div>
                                <div class="col-md-2">

                                    <i class="fas fa-comment-alt" style="font-size:30px!important"></i>


                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-12">

                                    <h4> '+data.aciklama+'</h4>

                                </div>

                            </div>
                            <div class="mfp-counter">



                            </div>

                        </div>

                    </figcaption>

                </figure>

            </div>

        </div><div class="mfp-preloader">Yükleniyor...</div>

    </div>

</div>
