﻿@model Bitirme.Entity.Model.Register

<!DOCTYPE html>
<html lang="en">
<head>
    <title>gezsin.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="~/css/navcss/animate.css">
    <link rel="stylesheet" href="~/css/navcss/icomoon.css">
    <link rel="stylesheet" href="~/css/navcss/bootstrap.css">
    <link rel="stylesheet" href="~/css/navcss/magnific-popup.css">
    <link rel="stylesheet" href="~/css/navcss/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/navcss/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/navcss/flexslider.css">
    <link rel="stylesheet" href="~/css/navcss/style.css">
    <script src="~/js/navjs/modernizr-2.6.2.min.js"></script>






    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">




</head>
<body>
    <div id="colorlib-page">
        @await Component.InvokeAsync(("NavbarViewComponents"), Model.user_id)



        @RenderBody()
    </div><!-- END COLORLIB-PAGE -->

    <script src="~/js/navjs/jquery.min.js"></script>
    <script src="~/js/navjs/jquery.easing.1.3.js"></script>
    <script src="~/js/navjs/bootstrap.min.js"></script>
    <script src="~/js/navjs/jquery.waypoints.min.js"></script>
    <script src="~/js/navjs/jquery.stellar.min.js"></script>
    <script src="~/js/navjs/owl.carousel.min.js"></script>
    <script src="~/js/navjs/jquery.flexslider-min.js"></script>
    <script src="~/js/navjs/jquery.countTo.js"></script>
    <script src="~/js/navjs/jquery.magnific-popup.min.js"></script>
    <script src="~/js/navjs/magnific-popup-options.js"></script>
    <script src="~/js/navjs/main.js"></script>




    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>