﻿@model Bitirme.Entity.Model.Register

@{
    ViewData["Title"] = "Index";
    var a = 0;
}
@await Component.InvokeAsync(("ProfilViewComponents"), Model.user_id)

<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

<div id="colorlib-main" class="col-md-12">
    <section class="ftco-section-2" id="posts"></section>
</div>
<style>
    body {
        font-family: Arial;
    }

    .comment_list {
        height: 250px;
        overflow: scroll;
        width: 400px;
    }
</style>

@section Scripts{
    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
    <!-- or -->
    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.js"></script>
    <script>

        var keys = [];
        var page = 1;

        $.ajax({
                url: '/Home/GetFollowing',
                data: {

                    user_id: "@Model.user_id"
                },
                type: "GET",
                timeout: 16000,
                success: function (datam) {
                    for (var key in datam) {
                        keys.push(key);
                    }
                    Post();
                },
                error: function (passParams) {
                }
            });

        var deger = 0;
        var a = "";
        $('#userPost').empty();

        function Post() {
             $.ajax({
                url: '/Home/GetUserPost',
                data: {
                    usersId: keys,

                },
                type: "Post",
                timeout: 230000,
                cache: false,
                 success: function (data) {
                    for (var key in data)
                    {
                            a += `
<div class="row no-gutters">
        <div class="col-md-10" width="450" height="600" style="padding-left: 23px; padding-bottom:20px;">
            <figure class="col-md-12 shadow">
                <div class="col-md-12 row">
                    <div class="col-md-6">
                        <img src=" ` + data[key].photo_url + `" width="450" height="600" />
                     </div>

                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <br />
                        <figcaption class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <a>
                                    <img width="30" style="margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_guzel.png?alt=media&token=9d6be357-6590-4726-b501-61415c92dc80" />
                                </a>
                                <a>
                                    <img width="30" style="margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_notr.png?alt=media&token=0aef3dfd-4679-4e5c-b246-3a17d9549f78" />
                                </a>
                                <a>
                                    <img width="30" style="margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_kotu.png?alt=media&token=23b7b71c-a510-4888-b0d4-224b29cdc951" />
                                </a>
                                <a>
                                    <img onclick="getComments('` + "@Model.user_id" + `','` + data[key].post_id + `','` + deger +`');" width="30" style="margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_comment.png?alt=media&token=f5de21ac-b6f7-41ee-ad5f-154658486a95" />
                                </a>

                                <a onclick="KategoriAc(`+ deger + `,` + data[key].aile + `,` + data[key].cocuk + `,` + data[key].ogrenci + `,` + data[key].sevgili + `,` + data[key].yetiskin + `,` + data[key].yalniz + `,` + data[key].mekan_tipi_bool + `)">
                                    <img width="30" style="margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_send.png?alt=media&token=d159b8b4-152d-4f07-a9b5-dbb1a4441bf7" />
                                </a>
                            </div>
                         <div class="col-md-2"></div>
                        <div class="col-md-9" id="kategori`+deger+`"></div>
                         <br />
                            <div  class="col-md-12 row">
                                <div class="col-md-2">
                                    <img width="40" height="50" style="border-radius:90px" src=" ` + data[key].user_profilphoto + `" />
                                </div>
                                    <p class="col-md-10 bioquote"><strong>`+ data[key].user_name + `</strong> ` + data[key].aciklama + ` </p>


                            </div>
    <div class="col-md-12">

    <figure class="col-md-12 shadow">
    <div id="kapat` + deger + `"></div>
                            <div class="col-md-12" id="degerPosts` + deger + `" >

                            </div>
    </figure>
    </div>

                        </figcaption>
                       <textarea class="form-control rounded-0" id = "txt_icomment` + deger + `" rows = "2" ></textarea >
                                <br>
     <button style="font-family:cursive;background: #f5591f;border-radius:50px; color:white;" class="login100-form-btn" onclick="add_comment('` + "@Model.user_id" + `','` + data[key].post_id + `','` + deger + `')""><span>Gönder</span></button>

                    </div>
                </div>

            </figure>
        </div>
</div>`;
                        deger++;
                    }

                     $('#posts').append(a);
                     a = "";
                },
                error: function (passParams) {
                    alert("Hata");
                }
                    });

        }
        var deger = 0;
        function add_comment(user_id, post_id,deger) {
            deger = deger;
            var txt = "txt_icomment" +deger;
            $.ajax({

                url: '/Profil/AddComments',
                data: {
                    post_id: post_id,
                    user_id: user_id,
                    yorum: document.getElementById(txt).value,
                    yorum_begeni: "0",
                    yorum_tarih: 0,
                    hash_code: ""

                },
                type: "POST",
                timeout: 16000,
                success: function (data) {
                    document.getElementById(txt).value = "";
                    getComments(user_id, post_id,deger);
                    debugger;
                },
                error: function (passParams) {
                }
            });
        }

        var src_unlike = "https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_onay.png?alt=media&token=92bddce5-58e3-427a-8f55-d8c8482e597a";
        var src_like = "https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_onay_yesil.png?alt=media&token=f754f63c-8b46-4dd6-ba9e-1a535ea1f436";

        function getComments(user_id, post_id, deger) {
            debugger;
            var a = "";
            $('#kapat' + deger).empty();
            $('#kapat' + deger).append(`<a onclick="CloseComment(` + deger + `)" style="color:black;">
                                <div class="col-md-10"></div> <h3 class="col-md-2"> <strong>X</strong></h3>
                            </a>`);
            $("#comment_list").empty();
           $("#degerPosts" + deger).empty();

            $.ajax({
                url: '/Profil/GetComments',
                data: {

                    post_id: post_id
                },
                type: "GET",
                timeout: 16000,
                success: function (data) {


                    for (var key in data) {
                        var n = new Date(data[key].yorum_tarih).toDateString();
                        var src_img;
                        if (data[key].yorum_begeni == '1') {
                            src_img = src_like;
                        }
                        else {
                            src_img = src_unlike;
                        }
                        a += (`<div id="degerPosts` + deger + `">
                                    <div class="col-md-2">
                                        <img width="30" height="40" style="border-radius:90px" src="`+ data[key].profilResmi + `" />
                                    </div>
    <div class=col-md-10>
                                    <p class="col-md-12 bioquote"><strong> `+ data[key].user_name + ` </strong> ` + data[key].yorum + ` </p>
                                    <h6> `+ n + `</h6>
                                    <p class="col-md-10 bioquote"> <img width="15" height="20" id="like" src=` + src_img + ` onclick="addLike('` + post_id + `','` + data[key].yorum_tarih + `','` + user_id + `')"></i>` + data[key].yorum_begeni + `</p>
                                            </div>

                                    <br /></div>`);
                    }
                    $("#degerPosts" + deger).append('<div class="col-md-12 comment_list">' + a + '</div>');
                },
                error: function (passParams) {
                }
            });
        }

        function KategoriAc(sayi, aile, cocuk, ogrenci, sevgili, yetiskin, yalniz, mekan_tipi_bool) {

            $('#kategori' + sayi).empty();
             $.ajax({
                 url: '/Home/GetPost',
                 data: {
                     sayi: sayi,
                     aile: aile,
                     cocuk: cocuk,
                     ogrenci: ogrenci,
                     sevgili: sevgili,
                     yetiskin: yetiskin,
                     yalniz: yalniz,
                     mekan_tipi_bool: mekan_tipi_bool
                 },
                type: "GET",
                timeout: 16000,
                success: function (datam) {
                    $('#kategori' + sayi).append(datam);
                },
                error: function (passParams) {
                }
            });

        }

        function KategoriKapat(sayii) {
            $('#kategori'+sayii).empty();

        }

        function CloseComment(number) {
            $('#degerPosts' + number).empty();
            $('#kapat' + number).empty();

        }

        var datam = "";
        function addLike(post_id, yorum_tarih, user_id) {
            $.ajax({

                url: '/Profil/GetComments',
                data: {
                    post_id: post_id

                },
                type: "POST",
                timeout: 160000,
                success: function (data) {

                    for (var key in data) {

                        if (data[key].yorum_tarih == yorum_tarih) {
                            $.ajax({

                                url: '/Profil/AddLike',
                                data: {
                                    post_id: post_id,
                                    user_id: user_id,
                                    yorum: data[key].yorum,
                                    yorum_begeni: data[key].yorum_begeni,
                                    yorum_tarih: data[key].yorum_tarih,
                                    hash_code: key

                                },
                                type: "POST",
                                timeout: 160000,
                                success: function (data) {
                                },
                                error: function (passParams) {
                                }
                            });
                        }

                    }

                },
                error: function (passParams) {
                }
            });
        }

    </script>

}

