﻿@model Bitirme.Entity.Model.Post

@{
    ViewData["Title"] = "Default";
}

<figure class="col-md-12 shadow">
    <a onclick="KategoriKapat(@Model.sayi)" style="color:black;">
        <div class="col-md-10"></div> <h3 class="col-md-2"> <strong>X</strong></h3>
    </a>
    <h4>Detaylar</h4>
    <div class="col-md-6">
        <a href="#">
            <h6>Kapalı Alan</h6>
            <img width="30" style="padding-bottom: 5px;margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fkapalialan.png?alt=media&token=7719ec94-30f3-4ba6-9560-a89805fb018e" />
           
            <input type="checkbox" asp-for="mekan_tipi_bool"/>
        </a>
        <a href="#">
            <h6>Sevgililer</h6>
            <img width="30" style="padding-bottom: 5px;margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Frelationship.png?alt=media&token=c73f8771-3895-4a5b-8c6c-dc64bbbfdcd6" />
            <input type="checkbox" asp-for="sevgili"/>
        </a>

        <a href="#">
            <h6>Aileler</h6>
            <img width="30" style="padding-bottom: 5px;margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Ffamily.png?alt=media&token=a7b16446-ccbe-44e2-83da-5ed07e3e0dff" />
            <input type="checkbox" asp-for="aile" />
        </a>

        <a href="#">
            <h6>Çocuklar</h6>
            <img width="30" style="padding-bottom: 5px;margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fchildren.png?alt=media&token=98679575-c6ae-4d41-a0b7-71ded6ed5ecd" />
            <input type="checkbox"  asp-for="cocuk"/>
        </a>
    </div>
    <div class=col-md-6>
        <a href="#">
            <h6>Spor</h6>
            <img width="30" style="padding-bottom: 5px;margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fspor.png?alt=media&token=3fff50e7-ff98-4fbd-a704-fc60455fb1b3" />
            <input type="checkbox" />
        </a>

        <a href="#">
            <h6>Öğrenci</h6>
            <img width="30" style="padding-bottom: 5px;margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fstudents.png?alt=media&token=989ca8a4-740d-4fd6-bda3-ff51d91e6c3d" />
            <input type="checkbox"  asp-for="ogrenci"/>
        </a>
        <a href="#">
            <h6>Yetişkinler</h6>
            <img width="30" style="padding-bottom: 5px;margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fparents.png?alt=media&token=9224a382-d841-4701-ba72-6fce74669236" />
            <input type="checkbox"  asp-for="yetiskin"/>
        </a>
        <a href="#">
            <h6>Yalnızlar</h6>
            <img width="30" style="padding-bottom: 5px;margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Falone.png?alt=media&token=97809c1e-7f79-44aa-846d-85b33599baca" />
            <input type="checkbox"  asp-for="yalniz"/>
        </a>
    </div>


</figure>

<br />

<script>






</script>