﻿@model Bitirme.Entity.Model.Register

@{
    ViewData["Title"] = "Prifl";
}

@await Component.InvokeAsync(("ProfilViewComponents"), Model.user_id)


<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/css/util.css">


<style>
    body {
        font-family: Arial;
    }

    .wrap-input100t {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        width: 100%;
        height: 80px;
        position: relative;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .validate-inputt {
        position: relative;
    }

    .label-input100t {
        font-family: Montserrat-Regular;
        font-size: 18px;
        color: #999999;
        line-height: 1.2;
        display: block;
        position: absolute;
        pointer-events: none;
        width: 100%;
        padding-left: 24px;
        left: 0;
        top: 30px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

    .input100t {
        display: block;
        width: 100%;
        background: transparent;
        font-family: Montserrat-Regular;
        font-size: 18px;
        color: #555555;
        line-height: 1.2;
        padding: 0 26px;
    }

    .login100-form-btnt {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        background: #6675df;
        font-family: Montserrat-Bold;
        font-size: 12px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

        .login100-form-btnt:hover {
            background: #333333;
        }
    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>

<div class="modal fade right" id="modalRelatedContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p><strong> Resmi değiştirme istediğiniz onaylanmıştır.</strong></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="colorlib-main">
    <section class="ftco-section-2" style="margin-top: 8px;">

        <input type="hidden" asp-for="user_id" />
        <div class="photograhy row">
            <div class="col-md-1"></div>
            <div class="tab col-md-10">
                <button class="tablinks" onclick="openCity(event, 'Paris')">Profil Düzenle</button>
                <button class="tablinks" onclick="openCity(event, 'Tokyo')">Diğer Bilgiler</button>

            </div>
            <div class="col-md-1"></div>
            <div id="London" class="tabcontent col-md-10">

            </div>
            <div class="col-md-1"></div>
            <div id="Paris" class="tabcontent col-md-10" style="display:block">
                <br />
                <div class="wrap-input100t validate-input row" style="height: 70px;left: 13px;">
                    <input class="input100t col-md-4" type="file" name="resim" asp-for="profilResmi" style="margin-bottom: 5px;">
                    <button type="submit" class="input100t col-md-2" onclick="uploadFile()" style="margin-bottom: 5px;" id="file" data-toggle="modal" data-target="#modalRelatedContent">Evet</button>
                    <p id="yazi" style="margin-bottom: 5px;"> Resmi değiştirmek istediğinize emin misiniz?</p>

                    <span class="label-input100t" style="top: 8px;">Profil Resmi</span>
                </div>

                <br />
                <div class="wrap-input100t validate-input" id="divUserName" style="height: 70px;">
                    <input class="input100t" type="text" asp-for="user_name">
                    <span class="label-input100t" style="top: 8px;">Kullanıcı Adı</span>
                </div>
                <br />
                <div class="wrap-input100t validate-input" id="divUserName" style="height: 70px;">
                    <input class="input100t" type="text" asp-for="phone_number">
                    <span class="label-input100t" style="top: 8px;">Telefon</span>
                </div>
                <br />
                <div class="wrap-input100t validate-input" id="divPass" style="height: 70px;">
                    <input class="input100t" type="text" asp-for="password">
                    <span class="label-input100t" style="top: 8px;">Password</span>
                </div>
            </div>
            <div id="Tokyo" class="tabcontent col-md-10">
                <br />
                <div class="wrap-input100t validate-input" style="height: 70px;">
                    <input class="input100t" type="text" asp-for="name_surname">
                    <span class="label-input100t" style="top: 8px;">Ad Soyad</span>
                </div>
                <br />
                <div class="wrap-input100t validate-input" id="divUserName" style="height: 70px;">
                    <input class="input100t" type="text" asp-for="webSitesi">
                    <span class="label-input100t" style="top: 8px;">Web Sitesi</span>
                </div>
                <br />
                <div class="wrap-input100t validate-input" id="divUserName" style="height: 70px;">
                    <input class="input100t" type="text" asp-for="aciklama" />
                    <span class="label-input100t" style="top: 8px;">Açıklama</span>
                </div>

            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="tab col-md-10">
                <div class="col-md-8">
                </div>
                <div class="row col-md-4" style="height: 61px;">

                    <div class="text-center col-md-6">
                        <button class="login100-form-btnt btn-danger right" style="background:#dc3545!important;padding-right: 0px;padding-left: 0px;height: 38px;width: 104px;margin-top: 11px;padding-top: 10px;" type="reset">
                            İptal
                        </button>
                    </div>
                    <div class="text-center col-md-6">
                        <button class="login100-form-btnt btn-success left" onclick="Kaydet()" style="background:#28a745 !important;padding-right: 0px;padding-left: 0px;height: 38px;width: 104px;margin-top: 11px;padding-top: 10px;" type="submit">
                            Kaydet
                        </button>
                    </div>

                </div>
            </div>

        </div>

    </section>
</div>

@section Scripts{

    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>
    <script src="~/Scripts/FireBase.js"></script>
    <script>


        var selectedFile; var downloadURL;
        $('#file').hide(); $('#yazi').hide(); $('#yazi2').hide();

        $('#profilResmi').on('change', function (event) {
            selectedFile = event.target.files[0];
            $('#file').show(); $('#yazi').show();
        })


        function uploadFile() {
            $('#file').hide(); $('#yazi').hide();
            $('#yazi2').show();
            var user_id = document.getElementById("user_id").value;
            var filename = selectedFile.name;
            var newfileName = user_id + "_profile_photo";
            var storageRef = firebase.storage().ref('/users/' + user_id + "/" + newfileName);
            var uploadTask = storageRef.put(selectedFile);

            uploadTask.on('state_changed', function (snapshot) {
                downloadURL = uploadTask.snapshot.ref.getDownloadURL();


            }, function (error) {

            }, function () {

            });

        }

        function Kaydet() {
            debugger;
            var profil = document.getElementById("resim").value;
            if (downloadURL != undefined) {
                profil = downloadURL.i;
            }
            var user_id = document.getElementById("user_id").value;
            var form = {
                user_id: document.getElementById("user_id").value,
                profilResmi: profil,
                name_surname: document.getElementById("name_surname").value,
                phone_number: document.getElementById("phone_number").value,
                user_name: document.getElementById("user_name").value,
                password: document.getElementById("password").value,
                aciklama: document.getElementById("aciklama").value,
                webSitesi: document.getElementById("webSitesi").value

            }
            var user_name = document.getElementById("user_name").value;
            var phone_number = document.getElementById("phone_number").value;
            $.ajax({
                url: '/Profil/Kontrol',
                data: {
                    user_id: user_id,
                    user_name: user_name,
                    phone_number: phone_number
                },
                type: "POST",
                timeout: 16000,
                success: function (data) {
                    debugger;
                    if (data == true) {
                        alert("kullanıcı adi veya telefon kullanılmakta");
                    }
                    else {

                        $.ajax({
                            url: '/Profil/Update',
                            data: {
                                form: form
                            },
                            type: "POST",
                            timeout: 16000,
                            success: function (data) {
                                window.location.href = "/Profil/Profil?userId=" + user_id;
                            },
                            error: function (passParams) {
                            }
                        });
                    }
                },
                error: function (passParams) {
                }
            });


        }

        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;

            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

    </script>

}
