﻿@model Bitirme.Entity.Model.Register

@if (Model.user_id != " ")
{
    <nav class="fh5co-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <div id="fh5co-logo"><a href="~/Home/Index?userId=@Model.user_id">gezsin.com<span>.</span></a></div>
                    </div>
                    <div class="col-xs-10 text-right menu-1">
                        <ul>

                            <li><a href="~/Home/Index?userId=@Model.user_id" disable style="font-family:cursive;font-size:20px;">Anasayfa</a></li>
                            @*<li><a href="~/Kesfet/Index?userId=@Model.user_id"style="font-family:cursive;font-size:20px;">Keşfet</a></li>*@
                            <li><a href="~/KisiKesfet/Index?userId=@Model.user_id" style="font-family:cursive;font-size:20px;">Kişi Keşfet</a></li>
                            <li><a href="~/Profil/Index?userId=@Model.user_id" style="font-family:cursive;font-size:20px;">Profil</a></li>
                            <li class="btn-cta"><button style="font-family:cursive;font-size:20px;background: #f5591f;border-radius:50px; color:white;width: 91px;" class="login100-form-btn" onclick="logout()"><span>Çıkış</span></button></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>
}
<script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>
<script src="~/Scripts/FireBase.js"></script>
<script src="~/Scripts/Register.js"></script>