﻿@model Bitirme.Entity.Model.Register

@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync(("ProfilViewComponents"), Model.user_id)

<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

<div id="colorlib-main" class="col-md-12">
    <section class="ftco-section-2">
        <div class="photograhy">
            <div class="row no-gutters" id="users">



            </div>
        </div>
    </section>
</div>


@section Scripts{
    <script>
          var keys = [];
        var page = 1;
        var ref = firebase.database().ref().child("following/" + "@Model.user_id");

        ref.once('value', function (snap) {
            snap.forEach(function (item) {

                var itemVal = item.val();
                keys.push(itemVal);
            });
            
            Users();
        });

        function Users() {
              $.ajax({
                  url: '/KisiKesfet/allPost',
        data: {
            userId: "@Model.user_id",
            usersId:keys
        },
        type: "Post",
        timeout: 230000,
        cache: false,
             success: function (data) {
                 for (var key in data) {
                     $('#users').append(`
                <div class="col-md-3" style="padding-left:23px; padding-bottom:20px;">
                    <figure class="shadow">
                        <a href="`+ data[key].profilResmi + `" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(` + data[key].profilResmi +`); border-radius:120px;">
                           
                        </a>
                        <figcaption>
    <br />
                            <a href="#">
                                <h3 class="heading">
    <img width="30" style="margin-right:10px;margin-left: 18px;" onclick="following('`+ data[key].user_id + `')" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_kisiekle.png?alt=media&token=c516cd73-a400-4923-b4c9-9a27092fb63c" />
                               `+ data[key].user_name +`</h3>
      
                            </a>
                        </figcaption>
                    </figure>

                </div>
`);
                 }
             },
        error: function (passParams) {
            alert("Hata");
        }
    });
        }


        function following(id) {
            debugger;
             $.ajax({
                 url: '/KisiKesfet/following',
        data: {
            userId: "@Model.user_id",
            followId: id
        },
        type: "Post",
        timeout: 230000,
        cache: false,
                 success: function (data) {
                     $('#users').empty();
                     window.location.reload();
                 },
        error: function (passParams) {
            alert("Hata");
        }
    });
        }
    </script>

}

