﻿@model Dictionary<string, Bitirme.Entity.Model.Post>

@{
    ViewData["Title"] = "Default";
}

<div id="post">

</div>

<div id="comment" style="width:5%;height:5%">
    <div id="post3" class="mfp-wrap mfp-gallery mfp-close-btn-in mfp-auto-cursor mfp-with-zoom mfp-ready" tabindex="-1" style="overflow: hidden auto;">
        <div class="mfp-container mfp-s-ready">

            <div class="mfp-content">

                <div class="mfp-figure" style="visibility: visible;background-color:white;padding:5px;background-color: #e8e8e8fa;border-radius:10px;max-weigth">

                    <button title="Close (Esc)" type="button" onclick="close_comment()" style="color:deeppink;right: 0px!important;" class="mfp-close">×</button>
                    <br />
                    <figure>
                        <div id="comment_list" class="mfp-title" style="color:black">
                        </div>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                        <div class="mfp-counter">
                        </div>

                    </figure>
                    <div id="div_cmmnt">

                    </div>

                </div>
            </div>
            <div class="mfp-preloader">Yükleniyor...</div>
        </div>

    </div>
</div>

<style>
    body {
        font-family: Arial;
    }

    .comment_list {
        height: 250px;
        overflow: scroll;
        width: 400px;
    }

    .wrap-input100t {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        width: 100%;
        height: 80px;
        position: relative;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .validate-inputt {
        position: relative;
    }

    .label-input100t {
        font-family: Montserrat-Regular;
        font-size: 18px;
        color: #999999;
        line-height: 1.2;
        display: block;
        position: absolute;
        pointer-events: none;
        width: 100%;
        padding-left: 24px;
        left: 0;
        top: 30px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

    .input100t {
        display: block;
        width: 100%;
        background: transparent;
        font-family: Montserrat-Regular;
        font-size: 18px;
        color: #555555;
        line-height: 1.2;
        padding: 0 26px;
    }

    .login100-form-btnt {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        background: #6675df;
        font-family: Montserrat-Bold;
        font-size: 12px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

        .login100-form-btnt:hover {
            background: #333333;
        }
    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>

<div class="modal fade right" id="modalRelatedContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p><strong> Resmi değiştirme istediğiniz onaylanmıştır.</strong></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section-2">
    <div class="photograhy">
        <div class="row no-gutters">
            @foreach (var item in Model)
            {
                <div class="col-md-3 ftco-animate" style="padding-right: 20px;padding-left: 3px; padding-bottom:20px;">
                    <a onclick="buyut('@item.Value.user_id','@item.Value.post_id')" title="@item.Value.photo_url" class="photography-entry img d-flex justify-content-center align-items-center" style=" background-image: url(@item.Value.photo_url); border-radius:50px;max-height: 215px;">
                        <div class="overlay"></div>
                        <input type="hidden" id="@item.Value.photo_url" />
                        <div class="text text-center">
                            <div class="col-md-12 row">
                                <div class="col-md-3">
                                    <img width="30" style="margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_guzel.png?alt=media&token=9d6be357-6590-4726-b501-61415c92dc80" />
                                    <i style="font-size:30px!important"></i>
                                    <p>@item.Value.iyi</p>

                                </div>
                                <div class="col-md-3">
                                    <img width="30" style="margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_notr.png?alt=media&token=0aef3dfd-4679-4e5c-b246-3a17d9549f78" />
                                    <i style="font-size:30px!important"></i>
                                    <p>@item.Value.notr</p>
                                </div>
                                <div class="col-md-3">
                                    <img width="30" style="margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_kotu.png?alt=media&token=23b7b71c-a510-4888-b0d4-224b29cdc951" />
                                    <i style="font-size:30px!important"></i>
                                    <p>@item.Value.kotu</p>
                                </div>
                                <div class="col-md-3">

                                    <img width="30" style="margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_comment.png?alt=media&token=f5de21ac-b6f7-41ee-ad5f-154658486a95" />

                                    <i style="font-size:30px!important"></i>
                                </div>


                            </div>


                        </div>
                    </a>
                </div>


            }
        </div>
    </div>
</section>

<script>

    $(document).ready(function () {

        $("#post").hide();
        $("#comment").hide();
        $("#post3").hide();       

    });

    var iyicolor = "";
    var kotucolor = "";
    var notrcolor = "";
    var hasName = false;
    function getPostNumber(user_id, post_id) {


        var iyi = firebase.database().ref("onaylar/" + post_id + "/iyi");
        iyi.once("value")
            .then(function (snapshot) {
                hasName = snapshot.hasChild(user_id);

                iyisayi = snapshot.numChildren(); // 1 ("name")

                iyicolor = "https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_guzel.png?alt=media&token=9d6be357-6590-4726-b501-61415c92dc80";
                if (hasName) {
                    iyicolor = "https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_guzel_yesil.png?alt=media&token=a3eaeade-9cb6-4b3d-93ab-c5cbc38805c0";
                }
            })
        var notr = firebase.database().ref("onaylar/" + post_id + "/notr");
        notr.once("value")
            .then(function (snapshot) {

                hasName = snapshot.hasChild(user_id);
                notrsayi = snapshot.numChildren(); // 1 ("name")

                notrcolor = "https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_notr.png?alt=media&token=0aef3dfd-4679-4e5c-b246-3a17d9549f78";
                if (hasName) {
                    notrcolor = "https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_notr_sari.png?alt=media&token=90757088-be11-4a48-9d8d-0fb2ac83ccd5";
                }
            })
        var kotu = firebase.database().ref("onaylar/" + post_id + "/kotu");
        kotu.once("value")
            .then(function (snapshot) {

                hasName = snapshot.hasChild(user_id);
                kotusayi = snapshot.numChildren(); // 1 ("name")
                kotucolor = "https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_kotu.png?alt=media&token=23b7b71c-a510-4888-b0d4-224b29cdc951";
                if (hasName) {
                    kotucolor = "https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_kotu_kirmizi.png?alt=media&token=ce10d4a0-999f-47a0-a777-e2356b367ff9";
                }
            })
    }
    var kotusayi = 0; var notrsayi = 0;
    var iyisayi = 0;
    function buyut(user_id, post_id) {
        getPostNumber(user_id, post_id);
        $.ajax({
            url: '/Profil/GetPost',
            data: {
                user_id: user_id,
                post_id: post_id
            },
            type: "POST",
            timeout: 16000,
            success: function (data) {

                $("#post").empty();
                modal(data);

            },
            error: function (passParams) {
            }
        });
    }
    function modal(data) {

        $("#post").append(`<div id="post2" style="top:100px" class="mfp-wrap mfp-gallery mfp-close-btn-in mfp-auto-cursor mfp-with-zoom mfp-ready" tabindex="-1" style="overflow: hidden auto;">
                          <div>

                                <div class="row">
<div class=col-md-2></div>
                                    <div class="col-md-8" width="400" height="400" style="padding-left: 23px; padding-bottom:20px;">
            <figure style="background-color:white;" class="col-md-12 shadow">
                <div class="col-md-12 row">
                    <div class="col-md-6">
                        <img src="` + data.photo_url + `" width="375" height="500">
                     </div>

                    <div class="col-md-6">
                        <br>

                        <figcaption class="row">
                            <div class="col-md-12">
<button title="Close (Esc)" type="button" onclick="close_post()" style="color:black;right: 0px!important;" class="mfp-close">×</button>

          <div class="col-md-2">
                                                            <a onclick="arti('` + data.user_id + `','` + data.post_id + `','iyi')">
                                                            <img width="30" style="margin-right:10px;" src="`+ iyicolor + `" />
                                                            </a>
                                                            <p>`+ iyisayi + `</p>
                                                        </div>
                                                       <div class="col-md-2">
                                                            <a onclick="arti('` + data.user_id + `','` + data.post_id + `','notr')">
                                                            <img width="30" style="margin-right:10px;" src="`+ notrcolor + `" />
                                                             </a>

                                                            <ps>`+ notrsayi + `</p>

                                                        </div>
                                                        <div class="col-md-2">
                                                            <a onclick="arti('` + data.user_id + `','` + data.post_id + `','kotu')">
                                                            <img width="30" style="margin-right:10px;" src="`+ kotucolor + `" />

                                                                <p>`+ kotusayi + `</p>
                                                        </div>

                                                        <div class="col-md-2">
                                                                 <a onclick="getComments('` + data.user_id + `','` + data.post_id + `')">
                                                                 <img width="30" style="margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_comment.png?alt=media&token=f5de21ac-b6f7-41ee-ad5f-154658486a95" />

                                                               <i style="font-size:30px!important"></i>
                                                            </a>

                                                        </div>
<div class="dropdown col-md-4">
  
  
    <a class="dropdown-item"  href="#" onclick="deleteComments('` + data.user_id + `','` + data.post_id + `','` + data.gonderiSayisi + `');"> <i class="fa fa-trash" aria-hidden="true"></i></a>
 
  </div>
</div>

                                                        <div class="col-md-12">
                                                            <h4>`+ data.aciklama + `</h4>
                                                        </div>
    <div class="">

    <figure class="col-md-12 shadow">
    <div id="kapat0"></div>
                            <div class="col-md-12 " id="degerPosts0">
    
                            </div>                  
              </figure>              
    </div>

                        </figcaption>

                       <textarea class="form-control rounded-0" id="txt_commment" rows="2"></textarea>
                                <br>
<div class="col-md-12 row">
<div class="col-md-10"></div>
<div class="col-md-2">
<button style="font-family:cursive;background: #f5591f;border-radius:50px; color:white;" class="login100-form-btn"  onclick="add_comment('` + data.user_id + `','` + data.post_id + `')"><span>Gönder</span></button>
      </div>        
</div>
            
                    </div>
                </div>

            </figure>
        </div>
                                </div>
                            </div>
</div>`);
        
        $("#post").show();
    }
    function arti(user_id, post_id, durum) {

        $.ajax({
            url: '/Profil/OnayKaydet',
            data: {
                user_id: user_id,
                post_id: post_id,
                durum: durum
            },
            type: "POST",
            timeout: 16000,
            success: function (data) {

                buyut(user_id, post_id);
            },
            error: function (passParams) {
            }
        });
    }

    function close_post() {

        $("#post").hide();
    }

    var src_unlike = "https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_onay.png?alt=media&token=92bddce5-58e3-427a-8f55-d8c8482e597a";
    var src_like = "https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_onay_yesil.png?alt=media&token=f754f63c-8b46-4dd6-ba9e-1a535ea1f436";
    function getComments(user_id, post_id,deger) {
        
        var a;
        //$("#comment").show();
        $("#comment_list").empty();
        $.ajax({
            url: '/Profil/GetUserInfo',
            data: {

                user_id: user_id
            },
            type: "GET",
            timeout: 16000,
            success: function (datam) {
                debugger;

                $.ajax({
                    url: '/Profil/GetComments',
                    data: {

                        post_id: post_id
                    },
                    type: "GET",
                    timeout: 16000,
                    success: function (data) {
                        debugger;
                        for (var key in data) {
                            var n = new Date(data[key].yorum_tarih).toDateString();
                            var src_img;
                            if (data[key].yorum_begeni == '1') {
                                src_img = src_like;
                            }
                            else {
                                src_img = src_unlike;
                            }
                            a+=(`<div id="degerPosts` + 0 + `"> 
                                    <div class="col-md-2">
                                        <img width="30" height="40" style="border-radius:90px" src="`+ data[key].profilResmi + `" />
                                    </div>
                                    <div class=col-md-10>
                                    <p class="col-md-12 bioquote"><strong> `+ data[key].user_name + ` </strong> ` + data[key].yorum + ` </p>
                                    <h6> `+ n + `</h6>
                                    <p class="col-md-10 bioquote"> <img width="15" height="20" id="like" src=` + src_img + ` onclick="addLike('` + post_id + `','` + data[key].yorum_tarih + `','` + user_id + `')"></i>` + data[key].yorum_begeni + `</p>
                                            </div>

                                    <br /></div>`);


                        }

                        $("#degerPosts" + 0).append('<div class="col-md-12 comment_list">' +a+'</div>');
                    },
                    error: function (passParams) {
                    }
                });

            },
            error: function (passParams) {
            }
        });
    }


    function close_comment() {
        $("#div_cmmnt").hide();
        $("#comment").hide();
    }

    function add_comment(user_id, post_id) {
        debugger;
        $.ajax({
            url: '/Profil/AddComments',
            data: {
                post_id: post_id,
                user_id: user_id,
                yorum: $("#txt_commment").val(),
                yorum_begeni: "0",
                yorum_tarih: 0,
                hash_code: ""

            },
            type: "POST",
            timeout: 16000,
            success: function (data) {
                debugger;
                $("#txt_commment").val("");
                $("#degerPosts" + 0).empty();
                getComments(user_id, post_id,deger);
            },
            error: function (passParams) {
            }
        });
    }


    var datam = "";
    function addLike(post_id, yorum_tarih, user_id) {
        debugger;
        $.ajax({

            url: '/Profil/GetComments',
            data: {
                post_id: post_id

            },
            type: "POST",
            timeout: 160000,
            success: function (data) {

                for (var key in data) {

                    if (data[key].yorum_tarih == yorum_tarih) {
                        $.ajax({

                            url: '/Profil/AddLike',
                            data: {
                                post_id: post_id,
                                user_id: user_id,
                                yorum: data[key].yorum,
                                yorum_begeni: data[key].yorum_begeni,
                                yorum_tarih: data[key].yorum_tarih,
                                hash_code: key

                            },
                            type: "POST",
                            timeout: 160000,
                            success: function (data) {
                            },
                            error: function (passParams) {
                            }
                        });
                    }

                }

            },
            error: function (passParams) {
            }
        });
    }


    function deleteComments(user_id,post_id,gonderiSayisi) {
        $.ajax({

            url: '/Profil/DeletePost',
            data: {
                user_id: user_id,
                post_id: post_id,
                gonderiSayisi: gonderiSayisi
            },
            type: "POST",
            timeout: 160000,
            success: function (data) {
                close_post();
                window.location.reload();
            },
            error: function (passParams) {
            }
        });
    }

</script>
