﻿@model Bitirme.Entity.Model.Register

@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync(("ProfilViewComponents"), Model.user_id)

<!-- END COLORLIB-ASIDE -->
<div id="colorlib-main" class="col-md-12">
    <section class="ftco-section-2">
        <div class="photograhy" id="posts">
           
        </div>
    </section>

</div><!-- END COLORLIB-MAIN -->


@section Scripts{
    <script>
       
         var keys = [];
        var page = 1;
        var ref = firebase.database().ref().child("following/" + "@Model.user_id");

        ref.once('value', function (snap) {
            snap.forEach(function (item) {

                var itemVal = item.val();
                keys.push(itemVal);
            });
            Post();
        });

        function Post() {
             $.ajax({
        url: '/Kesfet/allPost',
        data: {
            userId: "@Model.user_id",
            usersId:keys
        },
        type: "Post",
        timeout: 230000,
        cache: false,
                 success: function (data) {
                     debugger;
                     for (var key in data) {
                         $('#posts').append(` <div class="col-md-3" style="padding-right: 20px;padding-left: 3px; padding-bottom:20px;">
        <a href="`+ data[key].photo_url + `" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(` + data[key].photo_url +`); border-radius:50px;max-height: 215px;">
             <div class="overlay"></div>
                        <input type="hidden" id="`+ data[key].photo_url +`" />
                        <div class="text text-center">
                            <div class="col-md-12 row">
                                <div class="col-md-3">
                                    <img width="30" style="margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_guzel.png?alt=media&token=9d6be357-6590-4726-b501-61415c92dc80" />
                               

                                </div>
                                <div class="col-md-3">
                                       <img width="30" style="margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_notr.png?alt=media&token=0aef3dfd-4679-4e5c-b246-3a17d9549f78" />
                               
                                </div>
                                <div class="col-md-3">
                                    <img width="30" style="margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_kotu.png?alt=media&token=23b7b71c-a510-4888-b0d4-224b29cdc951" />
                               </div>
                                <div class="col-md-3">
                                 <img width="30" style="margin-right:10px;" src="https://firebasestorage.googleapis.com/v0/b/trasqu-faed9.appspot.com/o/drawable%2Fic_comment.png?alt=media&token=f5de21ac-b6f7-41ee-ad5f-154658486a95" />
                                  </div>
                            </div>


                        </div>
        </a>
    </div>`);
             }
        },
        error: function (passParams) {
            alert("Hata");
        }
    });
        }
    </script>
}
