﻿@model Bitirme.Entity.Model.Register


<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="~/css/animate.css">

<link rel="stylesheet" href="~/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
<link rel="stylesheet" href="~/css/magnific-popup.css">
<link rel="stylesheet" href="~/css/aos.css">
<link rel="stylesheet" href="~/css/ionicons.min.css">
<link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="~/css/flaticon.css">
<link rel="stylesheet" href="~/css/icomoon.css">
<link rel="stylesheet" href="~/css/style.css">


<aside id="colorlib-aside" role="complementary" class="js-fullheight text-center" style="top:100px;background-image: url('../images/splash@2x.png');">
    <h1 id="colorlib-logo">
        <a href="~/Profil/Profil?userId=@Model.user_id" style="font-family:cursive;">
            <span>
                <img src="@Model.profilResmi" width="70%" style="border-radius:100px" />
                <input type="hidden" id="resim" value="@Model.profilResmi" />
            </span>
            @Model.user_name
        </a>
    </h1>

    <nav id="colorlib-main-menu" role="navigation">
        <ul>

            <li style="color:black">
                <a href="~/Profil/Index?userId=@Model.user_id" style="font-family:cursive;">Gönderiler: </a>
                @Model.gonderiSayisi
            </li>
            <li style="color:black">
                <a onclick="getFollowerList('@Model.user_id','followers')"  style="font-family:cursive;">Takipçiler: </a>
                @Model.takipciSayisi
            </li>
            <li style="color:black">
                <a onclick="getFollowerList('@Model.user_id','followings')" style="font-family:cursive;">Takip Edilenler: </a>
                @Model.takipEdilenSayisi
            </li>
            <li style="color:black;">
                <a href="~/Profil/Profil?userId=@Model.user_id" style="font-family:cursive;">
                    <i class="icon-update"></i> Profil Düzenle
                </a>
            </li>
        </ul>
    </nav>



</aside> <!-- END COLORLIB-ASIDE -->
<div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Takip Listesi</strong></h4> 
            </div>
            <div id="userModal" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="CloseModal()">Kapat</button>
            </div>
        </div>
    </div>
</div> 
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.easing.1.3.js"></script>
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.stellar.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/aos.js"></script>
<script src="~/js/jquery.animateNumber.min.js"></script>
<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/scrollax.min.js"></script>
<script src="~/js/main.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {

        $('#userModal').modal('hide');
        $("#myModal").modal('hide'); 

    });

    function CloseModal(){

        $('#userModal').modal('hide');
        $("#myModal").modal('hide'); 
    }
    function getFollowerList(user_id, type) {
        $.ajax({
            url: '/Profil/GetFollowers',
            data: {
                user_id: user_id,
                type: type
            },
            type: "POST",
            timeout: 16000,
            success: function (data) {
                keys = [];
                for (var key in data) {
                    keys.push(data[key]);
                }
                $.ajax({
                    url: '/Profil/GetUserList',
                    data: {
                        user_id: keys
                    },
                    type: "POST",
                    timeout: 16000,
                    success: function (data) {
                        $('#userModal').empty();

                        for (var key in data) {
                            $('#userModal').append(`<ul><strong> ` + data[key] + `</strong></ul>`);
                        }
                        $('#myModal').modal('show');
                        $('#userModal').modal('show');
                         
                    },
                    error: function (passParams) {
                    }
                });
            },
            error: function (passParams) {
            }
        });

    }
</script>